*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image:  linear-gradient(316deg, #58427c 0%, #746cc0 74%);
    min-height: 100vh;
    color:white;
    font-family:"Poppins", sans-serif;
}

header{
    position:relative;
    z-index: 1;
    width: 85%;
    margin: auto;
    font-size: 1.2rem;
}

input[type="checkbox"]{
    -webkit-appearance: none;
    visibility: hidden;
    display:none;
}

.check{
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
    width: 40px;
    height: 20px;
    background: #092c3e;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
}

input[type="checkbox"]:checked ~ .check{
    background: #58427c;
    box-shadow: 0 0 0 10000px #092c3e;
}

.check:before{
    content:"";
    position: absolute;
    top: 2px;
    left: 2px;
    background: #58427c;
    width: 16px;
    height: 16px;
    border-radius:50%;
    transition: 0.5s;
}

input[type="checkbox"]:checked ~ .check:before{
    transform: translateX(-50px);
}

.check:after{
    content:"";
    position: absolute;
    top: 2px;
    left: 2px;
    background: #092c3e;
    width: 16px;
    height: 16px;
    border-radius:50%;
    transition: 0.5s;
    transform: translateX(50px);
}

input[type="checkbox"]:checked ~ .check:after{
    transform: translateX(20px);
}

.moon{
    position: absolute;
top: 45px;
left: 48px;
display: block;
width: 40px;
height: 20px;
font-size: 1vh;
}

.sun{
    position: absolute;
    top: 45px;
    left: 25px;
    display: block;
    width: 40px;
    height: 20px;
    font-size: 1.1vh;
}

header, form{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 12vh;
}

form input, form button{
    position: relative; 
    padding:0.5rem;
    font-size: 1.2rem;
    background: white;
    border: none;
    outline: none;
}

form button{
    color: #58427c;
    cursor: pointer;
    transition: all ease 0.5s;
}

form button:hover{
    color: white;
    background: #7d12ff;
    box-shadow: 0 0 10px #7d12ff, 0 0 40px #7d12ff, 0 0 80px #7d12ff;
}

.container{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)  rotateX(70deg);
}

.ripple{
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: ripple 4s linear infinite;
}
.r2{
    animation-delay: 0.8s;
}
.r3{
    animation-delay: 1.6s;
}
.r4{
    animation-delay: 2.4s;
}
.r5{
    animation-delay: 3.2s;
}
.r6{
    animation-delay: 4s;
}
@keyframes ripple{
    from{
        border: 4px solid #8e44ad;
        background: #9b59b670;
    }
    to{
        border: 0px solid #8e44ad;
        background: #9b59b670;
        width: 600px;
        height: 600px;
        top: 20px;
        opacity: 0;
    }
}

.todo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0.7vh;
    transition: all 0.5s ease;
}

.todo-item{
    background: white;
    color:black;
    font-size:1rem;
    font-weight: bold;
    padding: 0.1rem 0.5rem;
    min-width: 11%;
    height: 3vh;
}

.check-btn, .trash-btn{
    height:3vh;
    border:none;
    outline:none;
    background:rgb(27, 172, 27);
    padding: 0px 6px 0px 6px;
    font-size: 0.7rem;
    cursor:pointer;
    color: white;
    transition: all ease 0.2s;
}

.trash-btn{
    background: rgb(158, 89, 175);
}


.fa-trash, .fa-check{
    pointer-events: none;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

.completed{
    text-decoration: line-through;
    color:black;
    opacity: 0.5;
}

/* Removing all the styles */
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
    outline:none;
    border:none;
}
/* div */
.select{
    margin:1rem;
    position:relative;
    overflow:hidden;
}

select{
    color:#58427c;
    width:8.5rem;
    cursor:pointer;
    font-size:1rem;
    padding:0.5rem;
}

.select::after{
    content: "\25BC";
    position:absolute;
    top:0px;
    right: 0;
    background:#58427c;
    font-size:1rem;
    padding:0.3rem;
    pointer-events: none;
    transition: all ease 0.5s;
}

.select:hover::after{
    background:#7d12ff;
    box-shadow: 0 0 10px #7d12ff, 0 0 40px #7d12ff, 0 0 80px #7d12ff;
}